{% extends  "baseLogOut.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block information %}
            <div id="main_page" class="container">
                    <div class="row">
                        <div class="items">
                          <div class="media">
                            <img src="{% static 'mainApp/image/андрология.jpg' %}" class="mr-3" alt="невролог">
                            <div class="media-body">
                                <h5 class="mt=0">Андрология</h5>
                                В медицине есть отдельная отрасль, которая занимается изучением и исследованием заболеваний мужской половой системы. Эта отрасль называется андрология. Кроме этого, предметом изучения андрологии являются заболевания органов, влияющих на мужскую половую систему и расстройства функций самой половой системы. Но, несмотря на широкий спектр изучений, и исследований, андрология не является отдельной специальностью в медицине, и вопросами этой отрасли занимаются сексопатологи, урологи и эндокринологи.
                                
                            </div>
                          </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="items">
                              <div class="media">
                                <img src="{% static 'mainApp/image/анестизиология.jpg' %}" class="mr-3" alt="невролог">
                                <div class="media-body">
                                    <h5 class="mt=0">Анестезиология</h5>
                                    Один из разделов клинической медицины - анестезиология – вплотную занимается проблемами обезболивания и управления жизненными функциями организма человека во время лечения оперативным способом (до, во время и после операции). Анестезиология – научный отдел медицины, в котором изучаются вопросы обезболивания и применение наркоза для разных возрастных категорий пациентов, во время реанимации, при операциях в нейрохирургии, гинекологии, травматологии и ортопедии, офтальмологии и оториноларингологии. В переводе с древнегреческого языка, термин анестезиология обозначает «наука об отсутствии боли».
                                </div>
                              </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/гастроэнтерология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Гастроэнтерология</h5>
                                        Гастроэнтерология – отдел медицины, в котором детально изучается весь желудочно-кишечный тракт человеческого организма, физиология, анатомия этого отдела, а так же клиника заболеваний, способы профилактики и лечения оных. Если переводить слово «гастроэнтерология» с древнегреческого языка, то можно сразу понять, что это такое. «Гастр» - означает желудок, «Ентерон» - кишечник, а «Логия» - наука. Следовательно, это наука о кишечнике и желудке.
Как и многие другие отделы медицины, гастроэнтерология состоит из нескольких разделов: гепатологии, проктологии, колопроктологии, энтерологии, гастрологии и эзофагологии.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/гинекология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Гинекология</h5>
                                        Гинекология – в переводе означает «гине» - женщина, «логос» - наука, то есть, это один из обширных разделов медицинской науки, в котором проходит изучение и исследование всех особенностей женской половой системы. Сюда относятся и изучение заболеваний, и исследование анатомических особенностей, функций женских органов. Гинекология так же занимается разработками профилактических методов заболевания, лечебных и реабилитационных. Сегодня гинекология и акушерство являются единой клинической дисциплиной, занимающейся общими разработками.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/кардиология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Кардиология</h5>
                                        Кардиология – одна из важнейших областей медицины, которая занимается глубоким изучением вопросов, касающихся сердечнососудистой системы организм человека. Свое название эта область получила от греческого языка: «кардио» - сердце и «логос» - наука, учение. Стоит кардиология во главе медицинских областей и является наиболее востребованной, потому что именно сердечнососудистая система является жизненно важной в организме человека. И в настоящее время, заболевания сердца и сосудов являются самыми распространенными во всем мире.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/логопедия.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Логопедия</h5>
                                        Логопедия относится к педагогической науке, которая занимается дефектами устной речи. В специализацию врача входят следующие задания – обнаружить причину возникновения дефекта и устранить ее, используя педагогические методы. В редких случаях устранить дефект в произношении звуков можно только путем проведения хирургического вмешательства.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/маммология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Маммология</h5>
                                        В переводе с латинского и древнегреческого языков слово «маммология» состоит из двух: «мамма», что означает «молочная железа» по латински, и «логос» - слово или наука на греческом. Отсюда и можно сделать выводы, что «маммология» - наука или учение о молочных железах. Следовательно, это раздел медицины, который занимает изучением и исследованиями строения грудных желез, патологиями, которые возникают в этой области и другие функциональные моменты, которые влияют на формирование молочных грудных желез.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/неврология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Неврология</h5>
                                        Неврология – общее название междисциплинарной области медицины, которая изучает нервную систему в полном ее объеме – как в нормальном состоянии, так и при патологиях организма. Неврология включает в себя сразу несколько дисциплин или медицинских разделов: анатомия, эмбриология, биохимия, физиология, гистология, нейрогенетика, невропатология и нейрогигиена.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/нейрохирургия.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Нейрохирургия</h5>
                                        Нейрохирургия – хирургическая дисциплина, медицинская научная область, в которой изучаются заболевания двух нервных систем организма человека – центральной и периферической. Нейрохирургия, наряду с изучением заболеваний, занимается методическими разработками хирургического вмешательства в обе эти системы. Целью такой работы является точная диагностика и эффективное лечение поражений и патологий.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/отоларингология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Отоларингология</h5>
                                        Отоларингология – раздел медицинской науки, в котором изучаются проблемы заболеваний, и патологии в физиологии ушей, носа, глотки, трахеи, гортани и областей организма, прилегающим к ним. Термин «отоларингология» происходит от слияния двух слов древнегреческого языка: «отос» - ухо, и «логос» - наука, учение.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/офтальмология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Офтальмология</h5>
                                        Офтальмология – часть или область клинической медицины, которая занимается изучением заболеваний органов зрения: глазных яблок, слезных органов, век, слизистой облочки (конъюктива), клетчатки, которая окружает глаза, и костные структуры, которые собственно образуют саму глазницу.

                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/педиатрия.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Педиатрия</h5>
                                        Педиатрия – одна из многочисленных областей медицины, которая занимается изучением детского организма на всех этапах его развития, и возникновением заболеваний, которыми болеют исключительно или преимущественно в детском возрасте. Педиатрия занимается разработкой методик и способов диагностики, лечения и профилактики детских заболеваний.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/проктология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Проктология</h5>
                                        Проктология (от «проктос» - прямая кишка и «логос» - наука) – часть хирургии, которая изучает и решает вопросы, относящиеся к заболеваниям прямой кишки, переанальной области и заднего прохода. В отдельную дисциплину проктологию выдвинули только в середине прошлого столетия. Основание учения проктологии составляют достижения сразу нескольких медицинских направлений – онкологии, инфекциологии, гастроэнтерологии и самой хирургии.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/терапия.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Терапия</h5>
                                        Терапия (в переводе с греческого – оздоровление, лечение) – одна из самых обширных медицинских областей, базирующаяся на клинических и теоретических основах. Ученые – терапевты занимаются глубоким изучением и исследований причин (этиологии) и механизмов развития (патогенеза) различных заболеваний внутренних органов и систем человека. Так же они разрабатывают методы диагностирования, лечения без хирургического вмешательства (консервативного), реабилитационных и профилактических мероприятий.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/урология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Урология</h5>
                                        Урология – медицинский раздел, изучающий причины возникновения, развитие заболеваний мочеполовой системы человека. Так же урология занимается разработкой методов диагностики, лечения и профилактики этих заболеваний. Урология включает в себя сразу несколько медицинских и научных направлений. Это – онкоурология, эндоурология, пластическая урология и андрология. Происхождение термина «урология» уходит своими корнями в древнюю Грецию: «урос» - моча и «логос» - наука или учение.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/хирургия.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Хирургия</h5>
                                        Общая хирургия – один из обширных разделов хирургии, в котором изучаются основы заболеваний хирургического характера, разрабатываются новые подходы и методики оперативного лечения, без внедрения в частные проявление отдельных заболеваний и технические особенности редких операций.

                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="items">
                                  <div class="media">
                                    <img src="{% static 'mainApp/image/эндокринология.jpg' %}" class="mr-3" alt="невролог">
                                    <div class="media-body">
                                        <h5 class="mt=0">Эндокринология</h5>
                                        Термин «эндокринология» происходит от слияния сразу трех древнегреческих слов – «эндо»-внутри, «крино»-отделять и «логос»-учение, наука. Следовательно, эндокринологией называется один из медицинских и физиологических разделов, в котором изучаются все вопросы, касающиеся эндокринной системы человека: функции эндокринных желез, их строение, этиологию заболеваний и методику лечения этих заболеваний.
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                                
{% endblock %}